@import url("https://fonts.googleapis.com/css2?family=Satisfy&display=swap");
@import "tailwindcss";

.satisfy-regular {
	font-family: "Satisfy", cursive;
	font-weight: 400;
	font-style: normal;
}

@keyframes scroll {
	0% {
		transform: translateX(0);
	}

	100% {
		transform: translateX(-33.333%);
	}
}

.animate-scroll {
	display: flex;
	animation: scroll 30s linear infinite;
	width: max-content;
}

.animate-scroll:hover {
	animation-play-state: paused;
}

/* Jour Fermé - Rouge Bordeaux */
.tile-closed {
	background: #800020 !important;
	color: white !important;
	text-decoration: line-through;
}

/* Jour Complet - Orange */
.tile-full {
	background: #ff8c00 !important;
	color: white !important;
}

/* Optionnel : rendre les jours désactivés plus explicites */
.react-calendar__tile:disabled {
	cursor: not-allowed;
	filter: grayscale(0.5);
	opacity: 0.6;
}
